@section Styles{
  <link rel="stylesheet" href="~/css/consultaenviada.css" />
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h5 class="masthead-heading mb-0">¡Gracias @ViewBag.Nombre por tu comentario!</h5>
        <p class="masthead-subheading mb-0">Nos estaremos comunicando a la siguiente dirección de mail: @ViewBag.mail</p>
        <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-xl rounded-pill mt-5">Volver al inicio</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>




