@section Styles{
  <link rel="stylesheet" href="~/css/consultaenviada.css" />
}

<div class ="container cenv">

  <div class="card" style="width: 18rem;">
      <img src="~/img/logo.jpg" class="card-img-top" alt="logo">
        <div class="card-body">
          <h5 class="card-title">¡Gracias @ViewBag.Nombre por contactarte con nosotros!</h5>
          <p class="card-text">Nos estaremos comunicando a a la siguiente dirección de mail: @ViewBag.mail.</p>
          <a href="@Url.Action("Index","Home")" class="btn btn-primary">Volver a Inicio</a>
        </div>
    </div>

</div>


