@section Styles{
  <link rel="stylesheet" href="~/css/index.css" />
  <link rel="stylesheet" href="~/css/all.min.css" />

}

    <div class="jumbotron jumbotron-fluid text-center">
      <img src="img/logo.jpg" class="rounded-circle" width="160" height="160">
    </div>


    <div class="container index text-center">     
      <div class="row">
        <div class="col-sm-4">
          <a href="@Url.Action("Reducir","Home")" />
          <p><strong>REDUCIR</strong></p>
          <img src="img/reducir.jpg" class="rounded-circle person"  alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
          <a href="@Url.Action("Reutilizar","Home")" />
          <p><strong>REUTILIZAR</strong></p>
          <img src="img/reutilizar.jpg" class="rounded-circle person"  alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
          <a href="@Url.Action("Reciclar","Home")" />
          <p><strong>RECICLAR</strong></p>
          <img src="img/reciclar.jpg" class="rounded-circle person"  alt="Random Name" width="255" height="255">
        </div>
      </div>
    </div>