
    <div class="jumbotron text-center">
      <h1>MATERIALES RECICLABLES</h1>
      <p>TODO JUNTO ES BASURA, SEPARADO ES UN RECURSO</p>
    </div>
        

   <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-sep-tab" data-toggle="pill" href="#v-pills-sep" role="tab" aria-controls="v-pills-sep" aria-selected="true">SEPARACION EN ORIGEN</a>
          <a class="nav-link" id="v-pills-papel-tab" data-toggle="pill" href="#v-pills-papel" role="tab" aria-controls="v-pills-papel" aria-selected="false">PAPEL</a>
          <a class="nav-link" id="v-pills-carton-tab" data-toggle="pill" href="#v-pills-carton" role="tab" aria-controls="v-pills-carton" aria-selected="false">CARTÓN</a>
          <a class="nav-link" id="v-pills-plastico-tab" data-toggle="pill" href="#v-pills-plastico" role="tab" aria-controls="v-pills-plastico" aria-selected="false">PLÁSTICO</a>
          <a class="nav-link" id="v-pills-vidrio-tab" data-toggle="pill" href="#v-pills-vidrio" role="tab" aria-controls="v-pills-vidrio" aria-selected="false">VIDRIO</a>
          <a class="nav-link" id="v-pills-metal-tab" data-toggle="pill" href="#v-pills-metal" role="tab" aria-controls="v-pills-metal" aria-selected="false">METAL</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-sep" role="tabpanel" aria-labelledby="v-pills-sep-tab">
            <div class="thumbnail">
              <img src="img/separacion.jpg" alt="separacion">
            <h4>EMPECEMOS EN CASA</h4>
            <h5>La separación en origen es el primer paso para comenzar el proceso de reciclado.</h5> 
            <h5>Implica apartar los residuos reciclables de los residuos húmedos y residuos basura. </h5>
            <h5>Puede ser en una bolsa, caja o contenedor especial. ¡Lo que nos sea más cómodo!</h5>
            <h5>Todo debe estar limpio y seco, sin exagerar, solo con enjuagar brevemente
            o con un trapo húmedo  podemos tenerlo listo para separar.</h5>
            <h5>Lo importante es que no ensuciemos los otros reciclables.</h5>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-papel" role="tabpanel" aria-labelledby="v-pills-papel-tab">
            <div class="thumbnail">
              <img src="img/rpapel.jpg" alt="papel">
              <h4>PAPEL</h4>
              <h5>Hojas blancas o impresas, diarios, revistas, cartulinas, folletos, sobres, tickets.</h5>
              <h5>Es fundamental que no tengan restos de comida o estén engrasados.</h5> 
              <h5>Las servilletas de papel usadas tampoco se pueden reciclar.</h5> 
            </div>       
          </div>
          <div class="tab-pane fade" id="v-pills-carton" role="tabpanel" aria-labelledby="v-pills-carton-tab">
            <div class="thumbnail">
              <img src="img/carton.jpg" alt="San Francisco">
              <h4>CARTÓN</h4>
              <h5>Cajas de embalaje, cartón corrugado, bandejas, rollos de papel higiénico o absorbente.</h5>
              <h5>Es importante que no esté húmedo ni tenga restos de comida o grasa.</h5>
              <h5>Podés aplanarlo para reducir su volumen y que sea más comodo su transporte.</h5>
            </div>        
          </div>
          <div class="tab-pane fade" id="v-pills-plastico" role="tabpanel" aria-labelledby="v-pills-plastico-tab">
            <div class="thumbnail">
              <img src="img/plastico.jpg" alt="San Francisco">
              <h4>PLÁSTICO</h4>
              <h5>Botellas, tapitas, potes, envases, envoltorios.</h5>
              <h5>Quitá los restos de líquido o alimento, y si es necesario enjuagá brevemente.</h5>
              <h5>Podés aplastar las botellas para disminuir su volumen y facilitar el transporte.</h5>
            </div>    
          </div>
          <div class="tab-pane fade" id="v-pills-vidrio" role="tabpanel" aria-labelledby="v-pills-vidrio-tab">
            <div class="thumbnail">
              <img src="img/vidrio.jpg" alt="San Francisco">
              <h4>VIDRIO</h4>
              <h5>Frascos, botellas, vajilla.</h5>
              <h5>Quitar los restos de líquido o comida y si es necesario enjuagar brevemente.</h5>
              <h5>Si el vidrio está roto por favor envolverlo cuidadosamente o introducirlo en algún envase plástico.</h5>
            </div>    
          </div>
          <div class="tab-pane fade" id="v-pills-metal" role="tabpanel" aria-labelledby="v-pills-metal-tab">
            <div class="thumbnail">
              <img src="img/metal.jpg" alt="San Francisco">
              <h4>METAL</h4>
              <h5>Latas, bandejas y papel de aluminio, desodorantes en aerosol, envases de hojalata, llaves.</h5>
              <h5>Quitar los restos de líquido o comida y si es necesario enjuagar brevemente.</h5>
              <h5>Podés aplastar las latas de aluminio para disminuir su volumen y facilitar el transporte.</h5>
            </div>    
          </div>
        </div>
      </div>
    </div>
   </div>  
