@section Styles{
  <link rel="stylesheet" href="~/css/preguntas.css" />
}

<div class="jumbotron text-center">
  <h1>PREGUNTAS FRECUENTES</h1>
  <h5>.</h5>
</div>
  
<div class="container preguntas"> 


    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Reciben ecoladrillos o ecobotellas/ botellas de amor?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h5>¿CÓMO ARMAR UNA “BOTELLA DE AMOR”?</h5>
        <p>Sólo van plásticos, pueden ser laminados, aluminizados, sachets, bolsas, paquetes de fideos, 
        arroz etc. Es necesario limpiar cada paquete que se mete dentro, enjuagar los sachet de leche o
        bolsas sucias, todo lo que pueda producir algún olor feo. No van pilas, ni papeles ni tickets, 
        ni colillas de cigarrillo. Puede usarse cualquier botella, un bidón de 5lts también y no hace 
        falta compactar TANTO, no es que tiene que ser un arma mortal, simplemente es para que sea más 
        fácil transportar.</p>
        <img src="~/img/ecobotella.jpg" alt="ecobotella">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué hacer con las pilas?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <h5>Recomendaciones </h5>
        <ul>
          <li>Reducir el consumo de pilas.</li>
          <li>Evitar comprar juguetes o elementos que utilicen pilas.</li>
          <li>Si su uso es inevitable comprar pilas recargables.</li>
          <li>Comprar pilas de buena calidad, de mayor durabilidad.</li>
          <li>No almacenarlas en las casas ni en botellas de plástico ya que son tóxicas.</li>
        </ul>        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Cómo y dónde reciclar el aceite de cocina usado?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>      
  
 
</div>   