@section Styles{
  <link rel="stylesheet" href="~/css/preguntas.css" />
}

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Preguntas frecuentes</h1>
        <h2 class="masthead-subheading mb-0">#3F3R</h2>
        <a href="@Url.Action("Puestos","Home")" class="btn btn-primary btn-xl rounded-pill mt-5">Puestos de reciclado</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section style="padding-top: 50px">
    <div class="container"> 

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Reciben ecobotellas? ¿Cómo se realizan?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p>Las ecobotellas llenas de plásticos y envoltorios no reciclables
              (también llamadas "botellas de amor") sirven para hacer madera plástica.<br>
              Con esta práctica sustentable, no sólo evitamos producir más basura, sino que la convertimos en algo útil, 
              necesario, y con una resistencia incluso mayor a la de la madera convencional.<br> 
              Para fabricarlas se necesita una botella de plástico: podemos elegir cualquiera, 
              pero si priorizamos que tengan un pico ancho vamos a facilitarnos aún más la tarea 
              de colocar todos los plásticos dentro. <br> Además vamos a usar una varilla o palito duro, puede ser de madera o de cualquier material, 
              pero que sea lo suficientemente sólido como para empujar los residuos y ayudarnos a hacer espacio.<br>
              La idea es meter en la botella nuestros residuos plásticos y ayudarnos del palito empujador para que queden apelmazados. 
              Esto nos permite meter muchos plásticos en muy poco espacio, lo que optimiza no sólo el transporte, 
              sino el espacio que le destinamos en nuestras propias casas.<br>
              Para llenar una ecobotella son necesarios plásticos de un solo uso, es decir, que no se pueden reciclar. Esos son:</p>
              <ul>
                <li>Plásticos blandos</li>
                <li>Bolsas de nylon</li>
                <li>Envoltorios de golosinas o paquetes</li>
                <li>Papel film (con el que envolvemos la comida), siempre que esté limpio y no tenga restos de esta.</li>
              </ul>
              <p>Podés acercar tu ecobotella al Puesto de Reciclado de Ciudad Jardín, Paseo Bradley y Peña Aeronáutica;
              o consultar en el instagram /ecobotellas3f para más puntos de recepción y retiro a domicilio.</p>          
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Qué puedo hacer con las pilas?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>En el caso del usuario que se encuentra en la Ciudad de Buenos Aires o Gran Buenos Aires, 
              las pilas comunes y alcalinas pueden ser desechadas junto con la basura común. 
              Esta basura domiciliaria es dispuesta en rellenos sanitarios pertenecientes al CEAMSE, 
              y según informa dicho organismo, estos rellenos han sido diseñados con técnicas preparadas para recibirlas</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Dónde llevar el aceite de cocina usado?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p>La correcta disposición del Aceite de Cocina Usado (ACU) evita la contaminación de aguas urbanas, 
              consecuencia de su vertido irresponsable e incontrolado en desagües y alcantarillas de nuestros municipios.</p>
              <p>1 litro de ACU puede contaminar más de 1.000 litros de agua.</p>
              <p>Su acumulación en desagües cloacales y pluviales facilita la obstrucción de conductos y 
              la proliferación de colonias de roedores e insectos.</p>
              <p>Su disposición en pozos ciegos produce la impermeabilización de los mismos, obstruyendo la correcta absorción de líquidos.</p>
              <p>Los aceites vegetales usados que llegan a los ríos, se acumulan en la superficie e impiden el paso de la luz solar y del
               oxígeno, aumentando la mortandad de la flora y la fauna acuática.</p>
              <p>Por eso, una correcta disposición del ACU permite:</p>
              <ul>
                <li>Beneficiar la depuración de aguas residuales, permitiendo su reutilización.</li>
                <li>Disminuir costos de mantenimiento de redes cloacales y alcantarillado.</li>
                <li>Disminuir los costos de las plantas depuradoras de agua de su provincia o municipio.</li>
                <li>Generar fuentes alternativas de energía: la reutilización del residuo ACU como recurso
                 energético, reduce la dependencia de los combustibles minerales y disminuye la huella de carbono en su uso en el transporte.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
      


  </div>
</section>
  



  