@{
    ViewData["Title"] = "Puestos";
}

@section Styles{
  <link rel="stylesheet" href="~/css/puestos.css" />
  <link rel="stylesheet" href="~/css/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
}

<div class="jumbotron text-center">
  <h1>PUESTOS DE RECICLADO</h1>
  <h5>ENCONTRÁ DONDE LLEVAR TUS RECICLABLES</h5>
</div>
  
<div class="container puestos"> 
      
  <div class="row">
          
   <div class="col-sm-12 col-md-4">
      <div id="horarios">
        <h3>DÍAS Y HORARIOS DE ATENCION</h3>
        <h4>Miércoles a domingo de 11 a 15 hs.</h4>
        <h5>Al lado de cada puesto encontrarás una campana contenedora, 
        adentro podés dejar tus residuos reciclables en bolsas chicas o sueltos,
        durante las 24 hs.</h5><br>

       <div>
         <table>
           <thead>   
             <tr> 
               <th>Localidad</th>
               <th>Plaza</th>              
             </tr> 
            </thead> 
            @foreach(var puesto in ViewBag.verPuestos) 
            {    
              <tr id = "punto">  
                <td >@puesto.Plaza</td> 
                <td>@puesto.Calle</td> 
             </tr>   
            }
          </table>
        </div>
       
        
      </div>            
   </div>

    <div class="col-sm-12 col-md-8">
      <div id="myMap"></div>
    </div>

    <div class="col-sm-12 col-md-12">
     <div class="thumbnail">
       <h4 class="atencion">¡POR FAVOR NO DEJAR BOLSAS FUERA DEL HORARIO DE ATENCIÓN!<br> 
       Se pueden romper, los materiales pierden su valor y se ensucian las plazas.</h4>
      </div>
    </div>
  </div>

</div>    
  
@section Scripts{
  <script src="~/js/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>
     <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
    <script src="~/js/map.js"></script>  
}