@{
    ViewData["Title"] = "Puestos";
}

@section Styles{
  <link rel="stylesheet" href="~/css/puestos.css" />
  <link rel="stylesheet" href="~/css/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
}

<div class="jumbotron text-center">
  <h1>PUESTOS DE RECICLADO</h1>
  <h5>ENCONTRÁ EL PUNTO MÁS CERCANO</h5>
</div>
  
<div class="container puestos"> 
      
  <div class="row">
          
   <div class="col-sm-12 col-md-4">
      <div id="horarios">
        <h4>DÍAS Y HORARIOS DE ATENCIÓN</h4>
        <h4><i class="far fa-calendar-alt"></i> Miércoles a domingo.</h4>
        <h4><i class="far fa-clock"></i> 11 a 15 hs.</h4>
        <h5><i class="far fa-eye"></i> Al lado de cada puesto encontrarás una campana contenedora, 
        adentro podés dejar tus residuos reciclables en bolsas chicas o sueltos,
        durante las 24 hs.</h5><br>       
        
      </div>            
   </div>

    <div class="col-sm-12 col-md-8">
      <div id="myMap"></div>
    </div>

    <div class="col-sm-12 col-md-12">
     <div class="thumbnail">
       <h4 class="atencion"><i class="fas fa-exclamation-triangle"></i> ¡POR FAVOR 
       NO DEJAR RECICLABLES FUERA DEL HORARIO DE ATENCIÓN!<br> 
       Al quedar a la intemperie las bolsas se pueden romper, los materiales se dispersan y se contaminan,
       perdiendo su potencial para ser reciclados y ensuciando las plazas.</h4>
      </div>
    </div>
  </div>

</div>    
  
@section Scripts{
  <script src="~/js/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>
     <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
    <script src="~/js/map.js"></script>  
}