@section Styles{
  <link rel="stylesheet" href="~/css/puestos.css" />
}

<div class="jumbotron text-center">
      <h1>PUESTOS DE RECICLADO</h1>
      <h5>ENCONTRÁ DONDE LLEVAR TUS RECICLABLES</h5>
    </div>
  
    <div class="container puestos"> 
      
      <div class="row text-center">
        <div class="col-sm-12 col-md-8">
          <div class="thumbnail">
            <img src="~/img/puestos.jpg" class="imagenpuestos" alt="puestos">
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <div id="horarios">
              <h3><br>HORARIOS DE ATENCION</h3><br>
              <h4>Miércoles, viernes y domingo de 11 a 15 hs.</h4><br>
              <h5>Al lado de cada puesto encontrarás una campana contenedora, 
              adentro podés dejar tus residuos reciclables en bolsas chicas o sueltos,
              durante las 24 hs.</h5><br>
            </div>            
          </div>
        </div>

        <div class="col-sm-12 col-md-12">
          <div class="thumbnail">
            <h4 class="atencion">¡POR FAVOR NO DEJAR BOLSAS FUERA DEL HORARIO DE ATENCIÓN!<br> 
            Se pueden romper, los materiales pierden valor y se ensucian las plazas.</h4>
          </div>
        </div>


      </div> 
    </div>   