@section Styles{
  <link rel="stylesheet" href="~/css/reciclar.css" />
}

<div class="jumbotron text-center">
      <h1>RECICLAR</h1>
      <h5>TRANSFORMA TUS RESIDUOS EN MATERIA PRIMA</h5>
    </div>
  
      
    <div class="container reciclar">
        <h5>Reciclar consiste en someter los materiales a procesos físicos o
           químicos para obtener nueva materia prima o nuevos productos. 
           ¡Y para eso es necesario comenzar por separar nuestros residuos!
        </h5>
        <p>Reciclando evitamos que los productos y materiales se conviertan en basura, 
          transformándolos en otros completamente nuevos, alargando su vida útil y ayudando 
          a la preservación de los recursos naturales del planeta. El reciclaje forma parte de la Economía Circular, 
          modelo basado en aprovechar al 100% las materias primas, haciendo más eficientes los procesos de uso y fabricación.</p> 
          
          <a href="@Url.Action("Materiales","Home")" class="btn btn-default btn-lg">Residuos reciclables</a>

      <div class="row">
        <div class="container col-md-6 col-sm-12">
          <img src="~/img/degradacion.jpg" />
        </div>
        <div class="container col-md-6 col-sm-12">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="~/img/dato1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato7.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
       

        <p>Es importante aclarar que este proceso no depende solo de nosotros, sino que involucra 
          a más personas para que se pueda lograr. El proceso de reciclado sucede en plantas especializadas,
           muchas organizaciones se encargan de recibir estos materiales y clasificarlos, 
           para luego venderlos y así poder financiar sus propios proyectos.</p>
        <p>En 3F los residuos reciclables son recuperados por cooperativas y ONGs que retiran el material de 
        los puestos, lo clasifican y reinsertan en el mercado:</p>
           <ul>
             <li>ONG Oasis - Puesto de reciclado de Ciudad Jardín.</li>
             <li>Cooperativa Salud y Trabajo - Puestos de reciclado de Caseros y Villa Bosch.</li>
             <li>Cooperativa Recuperadores del Oeste - Puesto de reciclado de Ciudadela.</li>
           </ul>

          <a href="@Url.Action("Puestos","Home")" class="btn btn-default btn-lg">Puestos de reciclado</a>

          
          <div class="row">
            <div class="container col-md-6 col-sm-12">
              <h4>Separando nuestros residuos reciclables y acercándolos a los puntos de recepción 
                promovemos a un municipio más limpio, preservamos los recursos naturales, 
                reducimos la contaminación, reinsertamos materiales sistema productivo, 
                alargamos la vida útil de los rellenos sanitarios y promovemos la industria del reciclado.</h4>
            </div>
            <div class="container col-md-6 col-sm-12">
              <img src="~/img/vecine.png" />
            </div>
          </div> 
        </div>      
         
          
      
   

          