@section Styles{
  <link rel="stylesheet" href="~/css/reciclar.css" />
}

<div class="jumbotron text-center">
      <h1>RECICLAR</h1>
      <h5>TUS RESIDUOS SE CONVIERTEN EN MATERIA PRIMA</h5>
    </div>
  
      
    <div class="container reciclar">
        <h4>Reciclar consiste en someter los materiales a procesos físicos o
           químicos para obtener nueva materia prima o nuevos productos. 
           ¡Y para eso es necesario comenzar por separar nuestros residuos!
        </h4>
        <h5>Reciclando evitamos que los productos y materiales se conviertan en basura, 
          transformándolos en otros completamente nuevos, alargando su vida útil y ayudando 
          a la preservación de los recursos naturales del planeta.<br>El reciclaje forma parte de la Economía Circular, 
          modelo basado en aprovechar al 100% las materias primas, haciendo más eficientes los procesos de uso y fabricación.</h5><br> 
          
          <a href="@Url.Action("Materiales","Home")" class="btn btn-default btn-lg">Residuos reciclables</a>

      <div class="row">
        <div class="container col-md-6 col-sm-12">
          <img src="~/img/degradacion.jpg" />
        </div>
        <div class="container col-md-6 col-sm-12">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="~/img/dato1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="~/img/dato7.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
       

        <h5>Es importante aclarar que este proceso no depende solo de nosotros, sino que involucra 
          a más personas para que se pueda lograr.<br>El proceso de reciclado sucede en plantas especializadas,
           muchas organizaciones se encargan de recibir estos materiales y clasificarlos, 
           para luego venderlos y así poder financiar sus propios proyectos.</h5>
          <h5>En 3F los residuos reciclables son recuperados por cooperativas y ONGs que retiran el material de 
          los puestos, lo clasifican y reinsertan en el mercado:</h5><br>
           
          <h5>ONG Oasis - Puesto de reciclado de Ciudad Jardín.</h5><br>
          <h5>Cooperativa Salud y Trabajo - Puestos de reciclado de Caseros y Villa Bosch.</h5><br>
          <h5>Cooperativa Recuperadores del Oeste - Puesto de reciclado de Ciudadela.</h5><br>
           

          <a href="@Url.Action("Puestos","Home")" class="btn btn-default btn-lg">Puestos de reciclado</a>

          
          <div class="row">
            <div class="container col-md-6 col-sm-12">
              <h4>Separando nuestros residuos reciclables y acercándolos a los puntos de recepción...<br><br> 
                <i class="fas fa-seedling"></i> Promovemos a un municipio más limpio.<br><br><i class="fas fa-seedling"></i> Preservamos los recursos naturales.<br><br>
                <i class="fas fa-seedling"></i> Reducimos la contaminación.<br><br><i class="fas fa-seedling"></i> Reinsertamos materiales sistema productivo.<br><br> 
                <i class="fas fa-seedling"></i> Alargamos la vida útil de los rellenos sanitarios.<br><br><i class="fas fa-seedling"></i> Promovemos la industria del reciclado.</h4>
            </div>
            <div class="container col-md-6 col-sm-12">
              <img src="~/img/vecine.png" />
            </div>
          </div> 
        </div>      
         
          
      
   

          