@section Styles{
  <link rel="stylesheet" href="~/css/reducir.css" />
}

<div class="jumbotron text-center">
      <h1>REDUCIR</h1>
      <h5>EL MEJOR RESIDUO ES EL QUE NO SE GENERA</h5>
    </div>
  
    <div class="container reducir"> 

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h5>¿POR QUÉ ES IMPORTANTE?</h5>
            <p>Reducir significa disminuir el uso y consumo de bienes materiales o recursos, y por ende, 
              la generación de residuos.<br>Este hábito nos permite anticiparnos a la problemática 
              de la basura, preservar los recursos naturales y el ambiente.</p>
            <h5>CONSEJOS</h5>  
            <ul>
              <li>
                Tener en cuenta que muchos de los productos que consumimos diariamente son de un uso de corta duración, 
                eso quiere decir que consumimos y desechamos rápidamente, lo cual genera un gran problema de acumulación.
              </li>
              <li>A la hora de comprar recordar elegir opciones sin empaque o envoltorio que sea lo más sostenible
                 posible, por ejemplo, shampoo sólido, productos a granel, optar por repuestos de productos de limpieza.
              </li>              
              <li>
                Reemplazar productos descartables o que tengan un solo uso por otros que tengan una vida útil más prolongada:<br> 
                <i class="fas fa-check"></i> Botellas térmicas.<br> 
                <i class="fas fa-check"></i> Bolsas de tela.<br>  
                <i class="fas fa-check"></i> Cubiertos de metal o madera que podamos volver a usar.<br> 
                <i class="fas fa-check"></i> Sorbetes reutilizables de metal.<br>  
                <i class="fas fa-check"></i> Toallas desmaquillantes, copa menstrual.<br> 
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 ">
            <img class= "redu" src="~/img/mix.jpg" alt="mix">
          </div>
        </div>     
       </div>   