@section Styles{
  <link rel="stylesheet" href="~/css/reutilizar.css" />
}

<div class="jumbotron text-center">
  <h1>REUTILIZAR</h1>
  <h5>NADA SE PIERDE, TODO  SE TRANSFORMA</h5>
</div>

<div class="container reutilizar">

   <div class="row">
      <div class="container col-md-6 col-sm-12">
         <br><br>
          <h4><i class="fas fa-lightbulb"></i>  Tenemos la oportunidad poner en práctica nuestra creatividad y 
          darle un nuevo uso a aquellos materiales que estábamos por descartar, por ya haber
          cumplido su vida útil.</h4>
          <h5>Reutilizando nuestros residuos en lugar de desecharlos
          disminuimos el consumo de recursos
          involucrados en su producción o disposición final.<br>
          Es importante destacar que este proceso comienza y termina en casa, 
          sin más intermediarios, transporte ni tratamientos industriales.</h5> 
          <h5>¡Esta es la principal diferencia con el RECICLADO!</h5><br><br>

         <a href="@Url.Action("Reciclar","Home")"><i class="fas fa-forward"></i> RECICLAR</a>          
      </div>
      <div class="container col-md-6 col-sm-12">
         <img src="~/img/5r.jpg" class="d-block w-100" alt="ej">             
      </div>
   </div>  
</div> 

