body {    
  font-family: 'Crimson Text', serif;
}
  
.container cenv {
  padding: 40px 80px;
}

.btn-primary {
  color: #fff;
  background-color: #6c757d;
  border-color: #343a40;
}

.card {
  margin-left: 400px;
  text-align: center;
}