body {    
  font-family: 'Crimson Text', serif;
}
  
.container index {
  padding: 80px 120px;
} 

.jumbotron {
  background-color: #c1ecdec5;
  color: #000000;
}
  
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.person:hover {
  border-color: #f1f1f1;
}
  
.carousel-item {
  height: 200px;
  opacity: 0.7;
}
  
.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
  
.titulo {
  margin: 5px;
  background-color: rgba(235, 252, 88, 0.384)
}
  
.col-sm-4 {
  padding-top: 20px;
}