body {    
  font-family: 'Crimson Text', serif;
}

.container materiales {
  padding: 40px 80px;
}

.jumbotron {
  color: #ffffff;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/1.jpg");
  background-size: cover;
}

.thumbnail {
  padding: 15px;
  border: none;
  border-radius: 0;
}
  
.thumbnail img {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 10%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #5d5e5f;;
}

a {
  color: #155724;
  text-decoration: none;
  background-color: transparent;
}  

