body {    
  font-family: 'Crimson Text', serif;
}

.container puestos {
  padding: 40px 80px;
}

.jumbotron {
  color: #ffffff;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/1.jpg");
  background-size: cover;
}

.jumbotron img {
  opacity: 0.5;
}

.atencion {
  text-align: center;
  background-color: rgba(241, 42, 16, 0.692);
  margin: 30px;
}    

#horarios {
  border-style: none;
  text-align: center;
}

#myMap {
  height: 600px;
  width: 100%;
}


