body {    
  font-family: 'Crimson Text', serif;
}

.container puestos {
  padding: 40px 80px;
}

.jumbotron {
  background-color: #77b300;
  color: #000000;
}

.atencion {
  text-align: center;
  background-color: rgba(241, 42, 16, 0.692);
  margin: 30px;
}    

#horarios {
  border-style: none;
  text-align: center;
}

#myMap {
  height: 600px;
  width: 100%;
}


