body {    
  font-family: 'Crimson Text', serif;
}

.container reducir{
padding: 40px 80px;
}

.jumbotron {
background-color: #77b300;
color: #000000;
}

.redu {
width: 100%;
height: 90%;
border-radius: 10%;
opacity: 0.87;
}


