body {    
  font-family: 'Crimson Text', serif;
}
  
.container reutilizar{
  padding: 40px 80px;
}
  
.jumbotron {
  color: #ffffff;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/1.jpg");
  background-size: cover;
}

.carousel, .carousel-inner > .item > img {
  height: 350px;
  width: 100%;
  opacity: 0.8;
}